* {
    border: none;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    background-color: rgb(202, 202, 202);
    width: 50vh;
    padding: 10px;
    height: 50vh;
}

.grid-item {
    background-color: rgb(224, 224, 224);
    height: 100%;
}